CURRENT_VERSION = 0.9.0
CURRENT_BUILD = UNKNOWN

IPHONEOS_DEPLOYMENT_TARGET = 13.0
ARCHS = arm64
VALID_ARCHS = arm64

ENABLE_BITCODE = NO

GECKO_DIST = $(SRCROOT)/../engine/firefox/obj-aarch64-apple-ios/dist

HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT) $(SRCROOT)/GeckoView $(SRCROOT)/GeckoView/Runtime $(SRCROOT)/GeckoView/View $(SRCROOT)/GeckoView/GeckoView $(SRCROOT)/Reynard $(SRCROOT)/Reynard/Shared $(SRCROOT)/Reynard/JIT $(SRCROOT)/Reynard/Bridging $(SRCROOT)/Helper $(GECKO_DIST)/include $(GECKO_DIST)/include/GeckoView $(GECKO_DIST)/Frameworks/GeckoView.framework/Headers
USER_HEADER_SEARCH_PATHS = $(inherited) $(SRCROOT) $(SRCROOT)/GeckoView $(SRCROOT)/GeckoView/Runtime $(SRCROOT)/GeckoView/View $(SRCROOT)/GeckoView/GeckoView $(SRCROOT)/Reynard $(SRCROOT)/Reynard/Shared $(SRCROOT)/Reynard/JIT $(SRCROOT)/Reynard/Bridging $(SRCROOT)/Helper
SWIFT_INCLUDE_PATHS = $(inherited) $(SRCROOT) $(SRCROOT)/../dist/build/Release-iphoneos $(GECKO_DIST)/include
LIBRARY_SEARCH_PATHS = $(inherited) $(GECKO_DIST)/bin $(GECKO_DIST)/lib
FRAMEWORK_SEARCH_PATHS = $(inherited) $(BUILT_PRODUCTS_DIR) $(SRCROOT)/../dist/build/Release-iphoneos $(GECKO_DIST)/Frameworks $(SRCROOT)
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
// SWIFT_OBJC_BRIDGING_HEADER is supplied target-specifically during xcodebuild

CODE_SIGNING_ALLOWED = NO
CODE_SIGNING_REQUIRED = NO
CODE_SIGN_STYLE = Manual
CODE_SIGN_IDENTITY = 
DEVELOPMENT_TEAM = 
PROVISIONING_PROFILE_SPECIFIER = 


